<template>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top mb-4">
        <div class="container">
            <a class="navbar-brand" href="index.html">SendMarc</a>
            <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</template>
<script>
    export default {
        name : 'navigation'
    }
</script>
